# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768 or LPC1769(Turbo).
# See docs/Config_Reference.md for a description of parameters.
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1500
max_z_velocity: 5
max_z_accel: 100

# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid # tuned for 80 degrees C
pid_kp: 71.063
pid_ki: 1.674
pid_kd: 754.158
min_temp: 0
max_temp: 130

[fan]
pin: P2.3
hardware_pwm: false

[heater_fan extruder_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_17D0FF0E22813AAF72156A5CC62000F5-if00
baud: 115200
restart_method: command

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
endstop_pin: tmc2209_stepper_x:virtual_endstop # pin !P1.29
position_endstop: 0
position_max: 245 # We added 10 mm ontop of the 235 for proper screw_tilt_adjust
homing_retract_dist: 0
homing_speed: 20

[tmc2209 stepper_x]
uart_pin: P1.10
interpolate: True
run_current: 0.580
hold_current: 0.290
stealthchop_threshold: 250
diag_pin: ^P1.29
driver_SGTHRS: 53

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
endstop_pin: tmc2209_stepper_y:virtual_endstop # pin !P1.28
position_endstop: 0
position_max: 235
homing_retract_dist: 0
homing_speed: 20

[tmc2209 stepper_y]
uart_pin: P1.9
interpolate: True
run_current: 0.580
hold_current: 0.290
stealthchop_threshold: 250
diag_pin: ^P1.28
driver_SGTHRS: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
rotation_distance: 8
microsteps: 16
endstop_pin: probe:z_virtual_endstop # pin !P1.27
position_min: -10
position_max: 250
homing_speed: 5

[tmc2209 stepper_z]
uart_pin: P1.8
interpolate: True
run_current: 0.580
hold_current: 0.290
stealthchop_threshold: 250

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
rotation_distance: 22.95
microsteps: 16
gear_ratio: 3:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid # tuned for 220 degrees C
pid_kp: 28.541
pid_ki: 1.746
pid_kd: 116.662
min_temp: 0
max_temp: 280
max_extrude_only_distance: 600

[tmc2209 extruder]
uart_pin: P1.4
interpolate: True
run_current: 0.660
hold_current: 0.330

[bltouch]
sensor_pin: ^P0.10
control_pin: P2.0
x_offset: -43
y_offset: -15
z_offset: 2.790
set_output_mode: 5V
samples: 2
sample_retract_dist: 10
samples_tolerance_retries: 1

[safe_z_home]
home_xy_position: 117.5,117.5
z_hop: 10 # Move up
z_hop_speed: 5

[bed_mesh]
speed: 80
horizontal_move_z: 5
mesh_min: 18,18
mesh_max: 175,202
probe_count: 5,5
algorithm: bicubic

[screws_tilt_adjust]
screw1: 74,47
screw1_name: front left screw
screw2: 245, 47
screw2_name: front right screw
screw3: 245, 217
screw3_name: rear right screw
screw4: 74,217
screw4_name: rear left screw
screw_thread: CW-M4

# Fluidd requirements
[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.
[gcode_macro G29]
gcode:
    BED_MESH_PROFILE load=default

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 220    # edit to your preferred park position
default_parameter_Y: 220    # edit to your preferred park position
default_parameter_Z: 10     # edit to your preferred park position
default_parameter_E: 1      # edit to your preferred retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      # edit to your preferred retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PART_COOLING_FAN_ON]
gcode:
    M106 S255

[gcode_macro PART_COOLING_FAN_OFF]
gcode:
    M106 S0

# Do nozzle priming
[gcode_macro PRIME_EXTRUDER]
gcode:
    M117 Priming
    G92 E0
    G1 X10.1 Y20 Z2.0 F2000
    G1 X10.1 Y200 Z0.28 F2000.0 E15; Draw the first line
    G1 X10.4 Y200 Z0.28 F5000.0; Move to the side a little
    G1 X10.4 Y20.0 Z0.28 F2000.0 E30; Draw the second line
    G92 E0 
    G1 F2400 E-0.7 # Small retract to remove pressure
    G1 Z2.0 F3000 ;Move Z Axis up

[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 200
gcode:
    # Home the printer
    G28
    # Load Mesh Bed Level
    G29
    # Start bed heating
    M117 Heating bed
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Start nozzle heating
    M117 Heating nozzle
    M104 S{EXTRUDER_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Prime line
    PRIME_EXTRUDER
    M117 Printing

[gcode_macro END_PRINT]
gcode:
    # Move nozzle away from print while retracting
    G91
    # Raise nozzle and retract
    G1 E-2 F1800
    G1 Z5 F3000
    # Move to absolute position
    G90
    G1 X10 Y200 F2000
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Disable steppers
    M84
    M117 Print complete

[gcode_macro LOAD_FILAMENT]
default_parameter_EXTRUDER_TEMP: 200
default_parameter_BOWDEN_TUBE_LENGTH: 600
gcode:
    # Let the printer know you are following this point with metric values
    G21
    # Let the printer know you are using absolute positioning
    G90
    # Start nozzle heating
    M117 Heating nozzle
    M104 S{EXTRUDER_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Reset the position of the extruder
    G92 E0
    # Feed BOWDEN_TUBE_LENGTH mm of filament at 2000 mm/minute speed.
    G1 E{BOWDEN_TUBE_LENGTH} F2000 
    # Reset the position of the extruder
    G92 E0

[gcode_macro UNLOAD_FILAMENT]
default_parameter_EXTRUDER_TEMP: 200
default_parameter_BOWDEN_TUBE_LENGTH: 700
gcode:
    # Let the printer know you are following this point with metric values
    G21
    # Let the printer know you are using absolute positioning
    G90
    # Start nozzle heating
    M117 Heating nozzle
    M104 S{EXTRUDER_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Reset the position of the extruder
    G92 E0
    # Extrude a short distance before unloading to avoid blob forming
    G1 E10 F100
    # Reset the position of the extruder
    G92 E0
    # Retract BOWDEN_TUBE_LENGTH mm of filament at 2000 mm/minute speed.
    G1 E-700 F2000
    # Reset the position of the extruder
    G92 E0
    # Display message on LCD-display to remove the filament
    M117 Remove filament
